.searchResult {
    display: flex;
    flex-direction: row;
}

.searchItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.itemButton {
    margin: 4px;
}

.albumCover {
    width: 100px;
    height: 100px;
}

.titleCover {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}